$container: 1542px;
$headerFontSize: 15px;
$blueBackground: #006;
$black: black;
$lightGray: #FFECDB;
$gray: gray;
$white : #fff;
$cardShadowColor: rgba(0, 0, 0, 0.20);
$borderGray:#EDEDFF;

// primary color with hero section

$heroSectionColor: #EAF4FC;


// footer color

$footer-primary: #000033;
$footer-secondary: #D0D0D0;
$footer-light: #FFFFFF;