// variable define
@use '../../../sass/variable' as *;
// define class
@forward '../../../sass/utils/index';


.card{
    width: 352px;
    height: 139px;
    background-color: $lightGray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 15px;
    padding-left: 20px;
    img{
        width: 48.82px;
        height: 43.44px;
        margin-bottom: 5px;
    }
    p{
        color: $black;
        font-size: 17px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0px;
    }
}